<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Team
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-pitch [selectedPlayers]="selectedPlayers" (removePlayerEventEmitter)="removePlayerEventHandler($event)"
               (selectPositionEventEmitter)="selectPositionEventHandler($event)"
               (openPlayerModalEventEmitter)="openPlayerModalEventHandler($event)"></app-pitch>

    <app-player-selection
        [players]="players" [budget]="budget" [position]="position"
        (selectPlayerEventEmitter)="selectPlayerEventHandler($event)"></app-player-selection>
</ion-content>
