.players-list {
  max-height: 500px;
  overflow-y: scroll;
}

h4 {
  color: #000;
}

.budget {
    color: #000;
}

.player-item {
    padding: 4px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.player-item:hover {
    background: #ec1d23;
    color: white;

    .media-body {
        color: white;

        .text-muted {
            color: white !important;
        }
    }
}

.player-list-jersey {
  height: 25px;
  width: auto;
  margin: 5px;
}
