<div class="player" [ngStyle]="{ 'transform': 'translateX(' + x + '%) translateY(' + y + '%) ' }">
    <div class="player__placeholder"></div><div class="player__card">
        <!--<h3>{{ name }}</h3>-->
        <ul class="player__card__list">
            <li>DOB<br>32</li>
            <li>Height<br>1.87m</li>
            <li>Origin<br>Brazil</li>
        </ul>
        <ul class="player__card__list player__card__list--last">
            <li>
                <span>Games</span><br>34
            </li>
            <li>
                <span>Goals</span><br>0
            </li>
        </ul>
    </div>
    <div class="player__label" style="display: block; opacity: 1;">
        <span>{{ player ? player.lastName : 'add player' }}</span>
    </div>
    <div class="player__img">
        <img [src]="player ? 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/' + player.photoUrl : 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/220px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png'">
    </div>
</div>
