<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded" style="background: white">
  <div class="container-fluid">
    <div class="navbar-header">
      <app-teams-header></app-teams-header>
      <button type="button" class="navbar-toggle d-lg-none float-left" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<form class="navbar-form navbar-right mt-1" role="search">-->
      <!--<div class="position-relative has-icon-right">-->
      <!--<input type="text" class="form-control round" placeholder="Search">-->
      <!--<div class="form-control-position">-->
      <!--<i class="ft-search"></i>-->
      <!--</div>-->
      <!--</div>-->
      <!--</form>-->
    </div>

    <div class="">
      <div id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mr-2">
            <a href="javascript:;" class="nav-link" id="navbar-fullscreen" appToggleFullscreen (click)="ToggleClass()">
              <i class="{{toggleClass}} font-medium-3 blue-grey darken-4"></i>
              <p class="d-none">fullscreen</p>
            </a>
          </li>
          <li class="nav-item" ngbDropdown placement="bottom-right">
            <a class="nav-link position-relative" id="dropdownLang" ngbDropdownToggle>
              <i class="ft-flag font-medium-3 blue-grey darken-4"></i>
              <p class="d-none">Language</p>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownLang" class="dropdownLang">
              <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('en')">
                <img src="./assets/img/flags/us.png" alt="English" class="langimg">
                <span>English</span>
              </a>
              <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('es')">
                <img src="./assets/img/flags/es.png" alt="Spanish" class="langimg">
                <span>Spanish</span>
              </a>
              <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('pt')">
                <img src="./assets/img/flags/br.png" alt="Portuguese" class="langimg">
                <span>Portuguese</span>
              </a>
              <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('de')">
                <img src="./assets/img/flags/de.png" alt="German" class="langimg">
                <span>German</span>
              </a>
            </div>
          </li>
          <li class="nav-item" ngbDropdown placement="bottom-right">
            <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
              <i class="ft-user font-medium-3 blue-grey darken-4"></i>
              <p class="d-none">User Settings</p>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
              <a class="dropdown-item py-1" routerLink="/pages/profile">
                <i class="ft-edit mr-2"></i>
                <span>My Profile</span>
              </a>
              <a class="dropdown-item py-1" routerLink="/inbox">
                <i class="ft-mail mr-2"></i>
                <span>My Inbox</span>
              </a>
              <a class="dropdown-item py-1" href="javascript:;">
                <i class="ft-settings mr-2"></i>
                <span>Settings</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">
                <i class="ft-power mr-2"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
          <!--<li class="nav-item">-->
          <!--<a class="nav-link position-relative notification-sidebar-toggle">-->
          <!--<i class="ft-align-left font-medium-3 blue-grey darken-4"></i>-->
          <!--<p class="d-none">Notifications Sidebar</p>-->
          <!--</a>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar (Header) Ends -->
