<div class="row team-overview">
  <div class="col-sm-12 col-md-8 p-sm-0">
    <app-pitch [selectedPlayers]="selectedPlayers" (removePlayerEventEmitter)="removePlayerEventHandler($event)"
               (selectPositionEventEmitter)="selectPositionEventHandler($event)"
               (openPlayerModalEventEmitter)="openPlayerModalEventHandler($event, content)"></app-pitch>
  </div>
  <div class="col-sm-12 col-md-4">
    <app-player-selection [players]="players" [budget]="budget" [position]="position"
                          (selectPlayerEventEmitter)="selectPlayerEventHandler($event)"></app-player-selection>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedPlayer.fullName }} <span class="text-muted font-small-3">{{ selectedPlayer.positionName }} </span>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="d(null)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="playerRoleForm">
        <div class="form-group">
          <input class="form-check-input" type="hidden" formControlName="id">
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="activePlayer" formControlName="active">
            <label class="form-check-label" for="activePlayer">Active player</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="captain" formControlName="captain">
            <label class="form-check-label" for="captain">Captain</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="viceCaptain" formControlName="viceCaptain">
            <label class="form-check-label" for="viceCaptain">Vice Captain</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="c()">Save</button>
    </div>
  </ng-template>
</div>
