<section id="team-overview">
  <div class="row">
    <div class="col-sm-12 col-md-8 p-sm-0">
      <app-pitch
        [selectedPlayers]="selectedPlayers"
        (removePlayerEventEmitter)="removePlayerEventHandler($event)"
        (selectPositionEventEmitter)="selectPositionEventHandler($event)"></app-pitch>
    </div>
    <div class="col-sm-12 col-md-4">
      <app-player-selection
        [players]="players"
        [budget]="budget"
        [position]="position"
        (selectPlayerEventEmitter)="selectPlayerEventHandler($event)"></app-player-selection>
    </div>
  </div>
</section>
