.stage {
  width: 100%;
  height: 100%;
  max-width: 650px;
  margin: 20px auto;
  z-index: 1;
}

.world {
  left: 0%;
  width: 100%;
  height: 740px;
  transform: translateZ(-140px);
  transform-style: preserve-3d;
  z-index: 1;
}

.field {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: 2;
}

.field__texture {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

.field__texture--gradient {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
  z-index: 4;
}

.field__texture--grass {
  background-image: url("/assets/img/grass.png");
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: -20px -20px;
}

.field__side {
  position: relative;
  top: 310px;
  left: 0;
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
  height: 4px;
  transform: rotateX(180deg) translateZ(-420px);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/mud.png");
  transform-origin: 50% 50%;
  z-index: 9;
}

.field__side:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.55;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/mud.png");
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: -20px -20px;
}

.field__line {
  position: absolute;
  width: 100%;
  height: 3px;
  z-index: 4;
}

.field__line--goal {
  width: 16%;
  height: 6%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
}

.field__line--goal--far {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
}

.field__line--penalty-arc {
  width: 20%;
  height: 20%;
  overflow: hidden;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
}

.field__line--penalty-arc:after {
  position: absolute;
  top: 75%;
  width: 100%;
  height: 100%;
  left: 0;
  content: ' ';
  display: block;
  border-radius: 50% 50% 0 0;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
}

.field__line--penalty-arc--far {
  bottom: auto;
  top: 20%;
}

.field__line--penalty-arc--far:after {
  bottom: 75%;
  top: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  border-radius: 0 0 50% 50%;
}

.field__line--penalty {
  width: 44%;
  height: 16%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
}

.field__line--penalty--far {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
}

.field__line--outline {
  width: 92%;
  height: 92%;
  top: 4%;
  left: 4%;
  border: solid 3px rgba(255, 255, 255, 0.5);
}

.field__line--mid {
  top: 50%;
  width: 92%;
  left: 4%;
  background-color: rgba(255, 255, 255, 0.5);
}

.field__line--circle {
  width: 20%;
  height: 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.team {
  position: relative;
  top: 45%;
  z-index: 29;
}
//TODO @grizli
@media (max-width: 991px) {
  .world {
    transform: unset !important;
    transform-style: unset;
  }
}
