<div id="flags">
  <div class="container">
    <ul class="first last">
      <li class="first"><a href="http://uae2.agleague.ae/club/al-ain.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag02.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/al-wahda.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag07.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/al-wasl.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag08.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/al-nasr.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag05.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/shabab-alahli.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag17.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/sharjah.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag16.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/al-jazira.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag04.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/ajman.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag15.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/dibba-al-fujairah.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag10.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/al-dafra.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag03.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/bani-yas.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag09.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/kalba.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag13.png" alt=""></a></li>
      <li><a href="http://uae2.agleague.ae/en/club/emirates.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag11.png" alt=""></a></li>
      <li class="last"><a href="http://uae2.agleague.ae/en/club/al-fujairah.html"><img
        src="http://uae2.agleague.ae/skin/agl/en/images/flag18.png" alt=""></a></li>


      <!--              <li><a href="http://uae2.agleague.ae/en/club/al-shabab-al-arabi-club-dubai.html"><img src="http://uae2.agleague.ae/skin/agl/en/images/flag06.png" alt="" /></a></li>
                    <li><a href="http://uae2.agleague.ae/en/club/hatta.html"><img src="http://uae2.agleague.ae/skin/agl/en/images/flag12.png" alt="" /></a></li>
                    -->
    </ul>
  </div>
</div>
